<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">		
		
	<bean id="tarefaAgendadorHorarioMedico" class="br.com.searchmed.tarefa.AgendadorHorarioMedico"></bean>
    
    <bean id="detalheTarefa" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="tarefaAgendadorHorarioMedico"/>
		<property name="targetMethod" value="inicia"/>
		<property name="concurrent" value="false" />
	</bean>
	
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="detalheTarefa" />
		<property name="startDelay" value="10000" />
		<property name="repeatInterval" value="90000" />
	</bean>
	
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="detalheTarefa" />
		<property name="cronExpression" value="0 00 11 ? * FRI" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
	
    <context:property-placeholder location="classpath:/datasource.properties"/>
	
	<import resource="applicationContext-hibernate.xml" />
	
	<import resource="applicationContext-dozer.xml" />	
		
	<context:component-scan base-package="br.com.searchmed.web" />	
	<context:component-scan base-package="br.com.searchmed" />		
	
</beans>
